.stopCount {
    color: red;
    font-size: 80px;
    font-weight: 800;
}

.settedClass {
    font-size: 20px;
}

.errorMessage {
    color: red;
    font-size: 25px;
}
.values {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 800;
}