.wrapper {
    display: flex;
}
.counter {
    margin: 0 auto;
    margin-top: 200px;
    border: 2px solid #1BD1ED;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.display {
    border: 2px solid #1BD1ED;
    border-radius: 10px;
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1BD1ED;
    font-size: 60px;
    font-weight: 700;
}
.buttons {
    border: 2px solid #1BD1ED;
    border-radius: 10px;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.values {
    font-size: 20px;
    font-weight: normal;
}

